/* =====================================================
UMICH Colors
===================================================== */
:root {
    --bs-blue: #00274C;
    --umich-blue: #00274C;
    --umich-maize: #ffcb05;
    --umich-maize-tp: rgba(255, 203, 5, .75);
    --umich-gray: #989C97;
    --umich-white: #FFFFFF;
}
/* =====================================================
The "account masthead" bar across the top of the site
===================================================== */

.account-masthead {
    background-color: var(--umich-maize);
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
    background-color: var(--umich-blue);
}
/* The text and icons in the user account info. */
.account-masthead .account ul li a {
    color: var(--umich-blue);
}
/* The user account info text and icons, when the user's pointer is hovering
over them. */
.account-masthead .account ul li a:hover {
    color: var(--umich-white);
    background-color: var(--umich-blue);
}


/* ========================================================================
The main masthead bar that contains the site logo, nav links, and search
======================================================================== */

.masthead {
    background-color: var(--umich-blue);
}
/* The "navigation pills" in the masthead (the links to Datasets,
Organizations, etc) when the user's pointer hovers over them. */
/* .masthead .navigation .nav-pills li a:hover {
background-color: var(--umich-white);
color: var(--umich-white);
} */
/* The "active" navigation pill (for example, when you're on the /dataset page
the "Datasets" link is active). */
.masthead .main-navbar ul li a {
    padding: 0.6rem 0.9rem;
    color: var(--umich-white);
    text-decoration: none;
}
.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
    padding: 0.6rem 0.9rem;
    color: var(--umich-blue);
    text-decoration: none;
}
.masthead .main-navbar ul li:hover a, .masthead .main-navbar ul li:focus a, .masthead .main-navbar ul li.active a {
    border-radius: 0.3rem;
    background-color: var(--umich-maize);
}

.nav-link, .page-header .nav-tabs li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--umich-blue);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* The "box shadow" effect that appears around the search box when it
has the keyboard cursor's focus. */
.masthead input[type="text"]:focus {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}


/* ===========================================
The content in the middle of the front page
=========================================== */

/* Remove the "box shadow" effect around various boxes on the page. */
/* .box {
box-shadow: none;
} */
/* Remove the borders around the "Welcome to CKAN" and "Search Your Data"
boxes. */
/* .hero .box {
border: none;
} */
/* Change the colors of the "Search Your Data" box. */
.homepage .module-search .module-content {
    color: #131516;
    background-color: var(--umich-white);
}
/* Change the background color of the "Popular Tags" box. */
.homepage .module-search .tags {
    background-color: var(--umich-blue);
}
/* Remove some padding. This makes the bottom edges of the "Welcome to CKAN"
and "Search Your Data" boxes line up. */
/* .module-content:last-child {
padding-bottom: 0px;
}
.homepage .module-search {
padding: 0px;
} */
/* Add a border line between the top and bottom halves of the front page. */
/* .homepage [role="main"] {
border-top: 1px solid rgb(204, 204, 204);
} */


/* ====================================
The footer at the bottom of the site
==================================== */

.site-footer,
body {
    background-color: var(--umich-blue);
}
/* The text in the footer. */
.site-footer,
.site-footer label,
.site-footer small {
    color: var(--umich-gray);
}
/* The link texts in the footer. */
.site-footer a {
    color: var(--umich-maize);
}

a:hover {
    color: var(--umich-blue);
    text-decoration: underline;
}

.form-check-input:checked {
    background-color: var(--umich-blue);
    border-color: var(--umich-blue);
}
.btn-primary {
    color: var(--umich-white);
    background-color: var(--umich-blue);
    border-color: var(--umich-blue);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-primary:hover {
    color: var(--umich-blue);
    background-color: var(--umich-maize);
    border-color: var(--umich-maize);
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: var(--umich-blue);
    background-color: var(--umich-maize);
    border-color: var(--umich-maize);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.25rem var(--umich-maize-tp);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: var(--umich-blue);
    background-color: var(--umich-maize);
    border-color: var(--umich-maize);
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.25rem var(--umich-maize-tp);
}
.btn-primary:disabled, .btn-primary.disabled {
    color: var(--umich-white);
    background-color: var(--umich-gray);
    border-color: var(--umich-gray);
}
.btn-outline-primary {
    color: var(--umich-blue);
    border-color: var(--umich-blue);
}
.btn-outline-primary:hover {
    color: var(--umich-white);
    background-color: var(--umich-blue);
    border-color: var(--umich-blue);
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--umich-maize-tp);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: var(--umich-white);
    background-color: var(--umich-blue);
    border-color: var(--umich-blue);
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.25rem var(--umich-maize-tp);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: var(--umich-gray);
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: var(--umich-blue);
    text-decoration: none;
}
.btn-link:hover {
    color: var(--umich-maize);
    text-decoration: underline;
}
